<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tech-Blog - Article</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>Blog</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/users">Users</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <article>
      <h2>{{article.title}}</h2>
      <p class="author">By {{article.User.name}}</p>
      <div class="content">{{article.content}}</div>
    </article>
  </main>

</body>
</html>